@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --my-object: 10% 75%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-vue-10: #49e659;
  --color-al: #e35539;
  --color-beyazim:  #faf6f5; 
  --breakpoint-xs:10rem;
  --aspect-retro:4/3;
  --my-aspect-ratio:2/3;
  --container-4xs:14rem;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

}


